<div>

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom:0;">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#!">SUN GIRL  後台</a>

    </div>
    <!-- /.navbar-header -->

    <ul class="nav navbar-top-links navbar-right">

        <!-- /.dropdown -->
        <li class="dropdown">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>
                <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages in" style="width:150px;">
                <li>
                    <a href="" ng-click="changePassword()"><i class="fa fa-key"></i> 修改自己密碼</a>
                </li>
                <li>
                    <a href="" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i>登出系統</a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->

    </ul>
    <!-- /.navbar-top-links -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse collapse" >
            <ul class="nav in" id="side-menu">

                <!-- User Management -->
                <li ng-show="showItem['platform_user']">
                    <a href="#!/user/list">
                        <div>
                            <i class="fa fa-child fa-fw"></i> 管理使用者
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!/carousel">
                        <div>
                            <i class="fa fa-photo fa-fw"></i> 輪播圖管理
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!/photoList">
                        <div>
                            <i class="fa fa-photo fa-fw"></i> 寫真上架管理
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!/videoList">
                        <div>
                            <i class="fa fa-video-camera fa-fw"></i> 影音上架管理
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#!/downloadList">
                        <div>
                            <i class="fa fa-cloud-download fa-fw"></i> 月曆上架管理
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->

</nav>

<!-- Modal for show build header, menu error. -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                {{modal.message}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal">{{modal.buttonText}}</button>
            </div>
        </div>
    </div>
</div>
</div>

<sb-alert instance="alert"></sb-alert>
            
