<div class="panel panel-default">
    <div class="panel-heading">
        <span class="fa-calendar-o fa" aria-hidden="true"></span>
        資料時間選擇
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">開啟日期</span>
                <input type="date" class="form-control" ng-model="startDate" ng-change="onDateChanged()">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">結束日期</span>
                <input type="date" class="form-control" ng-model="endDate" ng-change="onDateChanged()">
            </div>
        </div>
    </div>
</div>