<style>
    /* Chrome, Safari, Opera */
    @-webkit-keyframes example {
        0%   {color:black; }
        50%  {color:white; }
        100% {color:black; }
    }

    /* Standard syntax */
    @keyframes example {
        0%   {color:black; }
        50%  {color:white; }
        100% {color:black; }
    }
</style>

<div class="loading text-center" ng-show="isLoading">正在進行資料分析.....</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" style="font-size: 9px">
        <thead>
            <tr>
                <th style="word-wrap:break-word; white-space: nowrap">類型</th>
                <th ng-repeat="label in data.labels"> {{getFieldName($index, data.labels)}} </th>
                <th style="word-wrap:break-word; white-space: nowrap">總計</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="record in data.records">
                <td style="word-wrap:break-word; white-space: nowrap">{{record.label}}</td>
                <td ng-repeat="value in record.values  track by $index">{{value}}</td>
                <td style="word-wrap:break-word; white-space: nowrap">{{getTotal(record.values)}}</td>
            </tr>
            <tr>
                <td style="word-wrap:break-word; white-space: nowrap">小計</td>
                <td ng-repeat="total in totalOfIndex track by $index">{{total}}</td>
                <td style="word-wrap:break-word; white-space: nowrap">{{getTotal(totalOfIndex)}}</td>
            </tr>
        </tbody>
    </table>
</div>