<div id="page-wrapper">
    <div class="row">

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading">Banner 管理 </div>
                <div class="panel-body">
                    <admin-image-list  upload-api="uploadUrl" delete-api="deleteUrl " get-list-api="getListUrl" image-path ="imagePath" get-img-api="getImgUrl"></admin-image-list>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <!-- /.row -->
    <sb-alert instance="alert"></sb-alert>
</div>
<!-- /#page-wrapper -->
