<style type="text/css">
    .text_style {
        color: darkslategray;
    }

    .col_style {
        padding: 0px 10px 0px 10px;
    }

    .panel_heading_style {
        height: 40px;
    }
</style>
<div id="page-wrapper" style="padding-top:10px;">

    <div class="row">
        <div class="col-lg-12">
            <strong>
                <h2 class="page-header" style="font-family:微軟正黑體; font-weight:500">月曆上架</h2>
            </strong>
        </div>
    </div>

    <!-- base info -->
    <div class="row">
        <div class="col-md-6 col_style">

            <div class="panel panel-info">
                <div class="panel-heading panel_heading_style">
                    <label class="text_style">月曆上架標題名稱</label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="form-group">
                        <input class="form-control" ng-model="title" type="text" />
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>

        </div>
        <div class="col-md-6 col_style">

            <div class="panel panel-info">
                <div class="panel-heading panel_heading_style">
                    <label class="text_style">上架日期</label>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div style="margin:0 5px">
                                <div class="form-group">
                                    <label>開始日期</label>
                                    <datetime-picker instance="ready_time" idname="'ready_day'" dateType="'date'"></datetime-picker><br>
                                    <label>點擊次數</label>
                                    <input   ng-model="click_sum" type="text" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.panel-body -->
            </div>

        </div>

    </div>

    <div class="col-md-12 col_style">

        <div class="panel panel-info">
            <div class="panel-heading">
                <label class="text_style">月曆圖片上傳</label>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">月曆主圖  <br>上版圖片限定900X625</label>
                            <sb-upload class="col-lg-1" instance="productCoverImageUpload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in productCoverImage">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/photo/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'productCoverImage' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true">
						                                    </span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">1024x768圖片</label>
                            <sb-upload class="col-lg-1" instance="pcImg1Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in pcImg1">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'pcImg1' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">1280x1024圖片</label>
                            <sb-upload class="col-lg-1" instance="pcImg2Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in pcImg2">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'pcImg2' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">1366x768圖片</label>
                            <sb-upload class="col-lg-1" instance="pcImg3Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in pcImg3">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'pcImg3' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">1920x1080圖片</label>
                            <sb-upload class="col-lg-1" instance="pcImg4Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in pcImg4">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'pcImg4' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">640x960圖</label>
                            <sb-upload class="col-lg-1" instance="mobileImg1Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in mobileImg1">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'mobileImg1' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">640x1136圖</label>
                            <sb-upload class="col-lg-1" instance="mobileImg2Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in mobileImg2">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'mobileImg2' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">720x1280圖片</label>
                            <sb-upload class="col-lg-1" instance="mobileImg3Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in mobileImg3">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'mobileImg3' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="row">
                            <label class="col-lg-3 text_style">1080x1920圖片</label>
                            <sb-upload class="col-lg-1" instance="mobileImg4Upload"></sb-upload><br>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div ng-repeat="file in mobileImg4">
                                <div class="col-lg-3">
                                    <div style="width:100%;">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <image style="width:100%;" ng-src="upload/download/{{file.fileName}}" />
                                            </div>
                                            <ul class="panel-footer btn" ng-click="deleteImage( file, 'mobileImg4' )" style="height:40px; width:100%; background-color:#FFFAFA;">
                                                <span class="glyphicon glyphicon-remove" style="color:#FF8888;" aria-hidden="true"></span>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>



            </div>
            <!-- /.panel-body -->
        </div>

    </div>

    <div class="col-md-12" ng-show="message.isShow">
        <div class="alert alert-warning alert-dismissable">
            <button type="button" class="close" ng-click="message.isShow = false">×</button> {{message.text}}
        </div>
    </div>

    <!-- create button group -->
    <div class="col-md-12" style="height:50px;">

        <div class="btn-group" style="position:absolute; right:0px; width:45%;" role="group">

            <div class="btn-group" role="group" style="width:50%;">
                <input type="submit" style="width:100%;" class="btn btn-primary" ng-click="create()" value="新增"></input>
            </div>
            <div class="btn-group" role="group" style="width:50%;">
                <button ng-click="cancel()" style="width:100%;" type="button" class="btn btn-default">取消</button>
            </div>
        </div>
    </div>
    <!-- create button group /-->

</div>
<!-- base info /-->

</div>

<sb-modal instance="modal"></sb-modal>