<div id="page-wrapper">
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">新增您的辨識記錄</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-1 col-sm-6">
        <input type="button" class="btn btn-default btn-sm" value="清空所有記錄" ng-click="clearAll()"/>
    </div>
    <div class="col-lg-1 col-sm-6">
        <sb-upload instance="upload"></sb-upload>
    </div>
    <sb-smart-table instance="table"></sb-smart-table>
</div>
<!-- /.row -->
<sb-alert instance="alert"></sb-alert>
</div>
<!-- /#page-wrapper -->
    