<div id="page-wrapper">
    <div class="row">

        <!-- /selector -->
        <interval-selector-tools instance="selector"></interval-selector-tools>
        <!-- /selector -->

        <div class="col-xs-12">
            <full-hourly-chart instance="charts.fullHourlyChart.instance" ng-hide="charts.fullHourlyChart.isHide"></full-hourly-chart>
            <full-proportion-chart instance="charts.fullProportionChart.instance" ng-hide="charts.fullProportionChart.isHide"></full-proportion-chart>
            <gender-daily-chart instance="charts.genderDailyChart.instance" ng-hide="charts.genderDailyChart.isHide"></gender-daily-chart>
            <gender-hourly-chart instance="charts.genderHourlyChart.instance" ng-hide="charts.genderHourlyChart.isHide"></gender-hourly-chart>
        </div>

    </div>
</div>

<sb-alert instance="alert"></sb-alert>


