<div id="page-wrapper">
    <div class="row">

        <!-- /selector -->
        <monthly-selector-tools instance="selector"></monthly-selector-tools>
        <!-- /selector -->

        <div class="col-xs-12">
            <!--<gender-daily-chart instance="charts.genderDailyChart.instance" ng-hide="charts.genderDailyChart.isHide"></gender-daily-chart>-->
            <!--<gender-hourly-chart instance="charts.genderHourlyChart.instance" ng-hide="charts.genderHourlyChart.isHide"></gender-hourly-chart>-->
        </div>
        <sb-calendar instance="calendar"></sb-calendar>
    </div>

</div>

<sb-alert instance="alert"></sb-alert>


