<form class="form-horizontal page" id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">月曆上架管理</h1>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <font size="5">月曆列表</font>
            <span style="float:right;">
                <a href="#!/downloadList/create">
                    <button type="button" class="btn btn-warning btn btn-primary">
                        <i class="fa fa-plus"> 新增月曆</i>
                    </button>
                </a>
            </span>
        </div>
        <div class="panel-body">
            <sb-smart-table instance="table"></sb-smart-table>
        </div>
    </div>
</form>

