<div id="page-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">使用者管理</h1>
        </div>
    </div>

    <div class="panel panel-default" >
        <div class="panel-heading" >
            <h3>使用者列表</h3>
        </div>
        <div class="panel-body">
            <sb-smart-table instance="table"></sb-smart-table>
        </div>
    </div>

    <div class="col-md-12">
        <button type="submit" class="btn btn-primary" ng-click="create()">新增使用者</button>
    </div>
</div>
<sb-alert instance="alert"></sb-alert>