<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
        資料來源選擇
    </div>
    <div class="panel-body">
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Box ID</span>
                <select class="form-control" ng-model="params.boxId" ng-init="params.boxId=null" ng-disabled="disabledCamSelect">
                    <option value="{{null}}">所有Box</option>
                    <option value="{{list.boxId}}" ng-repeat="list in boxList">{{list.boxId}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">Cam ID</span>
                <select class="form-control" ng-model="params.camId" ng-init="params.camId=null" ng-disabled="disabledCamSelect">
                    <option value="{{null}}">所有Cam</option>
                    <option value="{{list.camId}}" ng-repeat="list in camList">{{list.camId}}</option>
                </select>
            </div>
        </div>
    </div>
</div>

<sb-alert instance="alert"></sb-alert>