
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                分析條件控制器
            </div>
            <div class="panel-body">
                <between-date-selector instance="date"></between-date-selector>
                <device-selector instance="device"></device-selector>

                <button type="button" class="btn btn-primary" ng-click="exportReport('genderDailyChart')">
                    <span class="fa-bar-chart-o fa" aria-hidden="true"></span> 每日男女人數表
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportReport('fullHourlyChart')">
                    <span class="fa-bar-chart-o fa" aria-hidden="true"></span> 每日小時性別年齡
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportReport('fullProportionChart')">
                    <span class="fa-bar-chart-o fa" aria-hidden="true"></span> 性別年齡比例圖
                </button>
                <button type="button" class="btn btn-primary" ng-click="exportReport('genderHourlyChart')">
                    <span class="fa-bar-chart-o fa" aria-hidden="true"></span> 每小時性別分佈
                </button>

            </div>
        </div>
    </div>

    <sb-alert instance="alert"></sb-alert>