<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        特徵轉換規則
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div class="alert alert-info" role="alert" ng-repeat="rule in rules">
                <button type="button" class="close" ng-click="rule.$remove()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{rule.type}} <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> {{rule.name}}
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">特徵編碼</span>
                <input type="text" class="form-control" ng-model="type" placeholder="例如: y:1, g:1">
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group">
                <span class="input-group-addon">轉換代稱</span>
                <input type="text" class="form-control" ng-model="name" placeholder="例如: 中年男子">
            </div>
        </div>

        <div class="col-md-12" style="margin-top: 15px">
            <button type="button" class="btn btn-default" ng-click="rules.$create({name: name, type:type})">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 增加規則
            </button>
            <button type="button" class="btn btn-default" ng-click="clearRule()">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> 清空規則
            </button>
        </div>

    </div>
</div>
<sb-alert instance="alert"></sb-alert>