<div class="body-container">

	<div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/about/topcover.png" class="img-responsive cover-img-padding">
    </div>

    <div class="row no-margin service-section">
        <div class="col-md-4 no-padding">
        	<div class="col-xs-12 vertical-padding-lg"></div>
            <img src="/images/about/items-1.png" class="img-responsive no-margin title-service-second">
            <div class="visible-lg visible-md" id="triangle-green" style="top: 115px;left: 40%;"></div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 item-list">

            <div class="col-xs-12 vertical-padding-lg"></div>

            <div class="col-xs-12 vertical-padding-lg">
                <h2>國際化趨勢與新興市場國家</h2>
                <h4>於兩岸交流、國際化與全球化的浪潮下，國家與國家，區域與區域的界線日益模糊，而彼此的頻繁接觸及空間距離的縮短，隨之興起的是更劇烈的競爭與頻繁互動合作。台灣在國際經濟體系中政治上的孤立，更需要有全新思維與跨領域合作基礎因應，以在新世代找尋到穩固的立基點，並以此成就為創新型態的領導角色。</h4>
                <h4>當前歐洲面臨歐債危機經濟情勢發展不樂觀，美國與日本等先進國家經濟持續疲軟不振。經濟的動力和市場的活力已紛紛轉到新興市場國家，這就是台灣未來需要集中資源重點投入經營的場域。換言之，所有新興市場國家包括中國大陸都是台灣生存與繼續繁榮的機會，也應是政府與民間所需要共同努力開發的目標，透過將台灣的專長與經驗連結到新興市場國家，可為台灣融入國際社會立足與發聲的新動力。</h4>
            </div>

            <div class="col-xs-12 vertical-padding-lg"></div>

            <div class="visible-lg visible-md" id="triangle-gray" style="top: 554px;left: 45%;"></div>
        </div>
    </div>

    <div class="row no-margin service-section-second">
        <div class="col-md-4 no-padding">
        	<div class="col-xs-12 vertical-padding-lg"></div>

            <img src="/images/about/items-2.png" class="img-responsive no-margin title-service">

            <div class="visible-lg visible-md" id="triangle-blue" style="left: 40%;top: 129px;"></div>
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 item-list">

  			<div class="col-xs-12 vertical-padding-lg"></div>

            <div class="col-xs-12 vertical-padding-lg">
                <h4>透過結合台灣企業界和學術界人士，共同探索今日在國際社會中台灣所有已展現的相關軟、硬實力代表，運用共同研究道路，作為未來促進對外發展以及走向新興市場的經濟與外交連結，透過輸出台灣經驗優勢，推動國際社會新興市場開發的合作。</h4>
                <h4>協會的宗旨在於進行整合相關軟實力議題的政策研究平台，著重在文化、民主、經濟、產業、科技、管理層面的優質條件探討；運用台灣軟實力的優勢結合我國現有的全球網絡進行交流，使其成為連結國際社會的原動力，從而為台灣找出進一步立足發展的方向。最重要的是在於整合出台灣過去成功轉型的基礎軌跡，用於探討新興市場國家所面臨的社會變遷、政治變遷、經濟變遷和文化內涵變遷問題以因應挑戰，為面向國際的快速變遷提供相關企業策略和政策出路。</h4>
				<h4>新興市場研究協會成立於 2012 年，由宇智顧問董事長暨時代基金會執行長徐小波先生、法藍瓷總裁陳立恆先生及產官學各界菁英人士共同發起，冀為臺灣長遠發展及提供各界未來政策方向而成立。協會致力之目標囊括：</h4>
            </div>

            <div class="col-xs-12 vertical-padding-lg"></div>

            <div class="visible-lg visible-md" id="triangle-green" style="left: 45%;top: 568px"></div>
        </div>
    </div>

    <div class="row no-margin service-section-third">
        <div class="col-md-4 no-padding">
        	<div class="col-xs-12 vertical-padding-lg"></div>
            <img src="/images/about/items-3.png" class="img-responsive no-margin title-service-third">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 item-list">
  			<div class="col-xs-12 vertical-padding-lg"></div>

            <div class="col-xs-12 about-five-purpose" id="red-bg">
                <div class="col-md-6 col-xs-12" ng-repeat="purpose in purposes">
                    <img src="/images/about/{{purpose.img}}" class="img-responsive col-xs-4">
                    <span></span><h4 class="col-xs-8">{{purpose.text}}</h4>
                </div>
            </div>
            
            <div class="col-xs-12 vertical-padding-lg"></div>

        	<div class="col-md-12 col-xs-12 ">
        		<a href="" onclick="history.back()">
        			<img class="col-md-offset-3 col-md-6 col-xs-offset-4" id="back-bottom-img" src="/images/about/back.png">
        		</a>
        	</div>            
        </div>
    </div>

</div>
