<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/about/topcover.png" class="img-responsive cover-img-padding">
    </div>

    <div class="row no-margin">
        <div class="col-md-offset-1 col-md-10 col-xs-12 no-padding title-service-fourth activity-page-title">
            <h2>{{items[key].title}}</h2>
            <h4>{{items[key].date}}</h4>
            <!-- <div class="activity-page-share">
                <div class="col-md-1 col-xs-2 no-padding">
                    <h4 class="no-margin">1020</h4>
                    <h4 class="no-margin">點擊</h4>
                </div>
                <div class="col-md-11 col-xs-10 no-padding">
                    <img src="/images/activity/facebook share.png">
                    <img src="/images/activity/google share.png">
                    <img src="/images/activity/email share.png">
                    <img src="/images/activity/twitter share.png">
                </div>
            </div> -->
        </div>
    </div>

    <div class="row no-margin background-white">
        <div class="col-md-12 activity-page-detail">
            <div class="col-md-offset-2 col-md-8">
                <h4>{{items[key].content}}</h4>
                <img src="/images/activity/{{items[key].img_1}}" class="img-responsive">
                <img src="/images/activity/{{items[key].img_2}}" class="img-responsive">
            </div>
        </div>
        
    </div>

    <div class="row no-margin background-white">
        <div class="col-md-offset-5 col-md-2 col-xs-offset-4 col-xs-4 text-center activity-bottom">
            <a href="" onclick="history.back()">
                <img class="table-pagination-img" src="/images/about/back.png">
            </a>
        </div>
    </div>
</div>
