<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/about/topcover.png" class="img-responsive cover-img-padding">
    </div>

    <div class="row no-margin">
        <div class="col-md-offset-1 col-md-10 col-xs-12 no-padding title-service-fourth activity-page-title">
            <h2>【活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</h2>
            <h4>劉奕妤 2016年01月18日 19:33</h4>
            <div class="activity-page-share">
                <div class="col-md-1 col-xs-2 no-padding">
                    <h4 class="no-margin">1020</h4>
                    <h4 class="no-margin">點擊</h4>
                </div>
                <div class="col-md-11 col-xs-10 no-padding">
                    <img src="/images/activity/facebook share.png">
                    <img src="/images/activity/google share.png">
                    <img src="/images/activity/email share.png">
                    <img src="/images/activity/twitter share.png">
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin background-white">
        <div class="col-md-12 activity-page-detail">
            <div class="col-md-offset-2 col-md-8">
                <h4>對於倫敦而言，我是不能再匆忙的過客；對我而言，倫敦是生命中一片絕美的時光剪影。當然，那些絢麗無比的博物美術館教堂宮殿佔了不小的部分，但那被置於記憶角落的場景，卻不時襲上心頭。從機場搭往市區的地鐵上，疲憊不斷重壓眼皮，然而就在即將放棄抵抗時，眼角瞥見了一對中年夫妻。口音是純正英腔，從一旁偌大的行李推測應剛從遠方回國。妻子充滿倦容地依偎在丈夫身上，不久便沉沉睡去；丈夫則小心翼翼地看著他人留下的報紙。每過一段不長的時間，他便會轉過頭去確認妻子是否仍安穩熟睡─用極為溫柔、充滿愛意的眼神，彷彿望著她便是看盡了世界。</h4>
                <h4>那是我印象中被紳士形象框住的冷漠倫敦嗎? 還是嗎?</h4>
                <img src="/images/activity/detail-01.jpg" class="img-responsive">
                <img src="/images/activity/detail-02.jpg" class="img-responsive">
            </div>
        </div>
        
    </div>

    <div class="row no-margin background-white">
        <div class="col-md-offset-5 col-md-2 col-xs-offset-4 col-xs-4 text-center activity-bottom">
            <a href="" onclick="history.back()">
                <img class="table-pagination-img" src="/images/about/back.png">
            </a>
        </div>
    </div>
</div>
