<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/activity/cover.png" class="img-responsive">
    </div>

    <div class="row no-margin">
        <div class="col-xs-12 service-section">
            <div class="col-md-offset-4 col-md-4 activity-search">
                <input id="search-database" type="text" size="40" placeholder="搜索資料庫" />
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-6 col-xs-12 no-padding service-section-second">
            <div class="col-xs-12 vertical-padding-lg"></div>
        	<img src="/images/activity/activity.png" class="img-responsive col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6">
            <div class="col-xs-12 vertical-padding-lg"></div>
            <div class="visible-lg visible-md" id="triangle-blue" style="left: 43%;top: 372px;"></div>
        </div>

        <div class="col-md-6 col-xs-12 no-padding service-section-third">
            <div class="col-xs-12 vertical-padding-lg"></div>
        	<img src="/images/activity/year-activity.png" class="img-responsive col-md-offset-4 col-md-4 col-xs-offset-3 col-xs-6">
            <div class="col-xs-12 vertical-padding-lg"></div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-offset-3 col-md-8 col-xs-12 no-padding title-service-fourth">
            <table class="table activity-table">
                <tr>
                    <td class="activity-table-border"></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【免票活動】【文心vs當代】高中以下學生免票參觀當代館！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【免票活動】【文心vs當代】高中以下學生免票參觀當代館！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【跨‧社‧會-設計+ X 藝術+】特別呈現《情歌》</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【免票活動】【文心vs當代】高中以下學生免票參觀當代館！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【跨‧社‧會-設計+ X 藝術+】特別呈現《情歌》</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【免票活動】【文心vs當代】高中以下學生免票參觀當代館！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【跨‧社‧會-設計+ X 藝術+】特別呈現《情歌》</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【抽獎活動】2015年度MOCA展覽參觀意見調查表『填問卷，抽專刊』開跑囉！</td>
                </tr>
                <tr>
                    <td class="activity-table-border">2014.06.20</td>
                    <td>【免票活動】【文心vs當代】高中以下學生免票參觀當代館！</td>
                </tr>
                <tr>
                    <td class="activity-table-border"></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-12 col-xs-12 text-center title-service-fourth">
            <ul class="table-pagination-bottom">
                <li><a href=""><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">...</a></li>
                <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
        <div class="col-md-offset-5 col-md-2 col-xs-offset-4 col-xs-4 text-center activity-bottom-pad">
            <a href="" onclick="history.back()">
                <img class="table-pagination-img" src="/images/about/back.png">
            </a>
        </div>
    </div>
</div>
