<main>
    <div class="main-content">
        <!--性感寫真 start-->
        <div class="th-album">
            <header>
                <h2><i class="icon-photo"></i>性感寫真</h2>
                <div class="albumSort">
                    <span id="albumNew" class="active"><i class="icon-clock"></i>最新更新</span>
                    <span id="albumMost"><i class="icon-heart"></i>最多覌看</span>
                </div>
            </header>
            <div class="gp-content">
                <ul class="md-list">

                </ul>
                <!--more button start-->
                <div class="md-moreBtn">
                    <a id="albumMore" href="#">更多</a>
                </div>
                <!--more button end-->
            </div>
        </div>
        <!--性感寫真 end-->
        <!--性感寫真popup start-->
        <div class="th-maskbg">
            <div class="gp-mdCont">
                <!--load popalbum.html json組畫面 -->
            </div>
        </div>
        <!--性感寫真popup end-->
    </div>
</main>