<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/analysis/topimg.png" class="img-responsive cover-img-padding">
    </div>

    <div class="row no-margin service-section-second">
        <div class="col-xs-12 vertical-padding-lg"></div>

        <div class="col-md-offset-4 col-md-4">
            <input id="search-database" type="text" size="40" placeholder="搜索資料庫" />
        </div>

        <div class="col-xs-12 vertical-padding-lg"></div>
    </div>

    <div class="row no-margin service-section analysis-100-padding">
        <div class="col-md-12" style="padding: 5px 0px;">
            <div class="col-md-6 col-xs-6">
                <h4 class="table-page-name">共1000筆，1-10筆</h4>
            </div>
            <div class="col-md-6 col-xs-6">
                <ul class="table-pagination">
                    <li><a href=""><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                    <li><a href="">1</a></li>
                    <!-- <li><a href="">2</a></li>
                    <li><a href="">3</a></li>
                    <li><a href="">4</a></li>
                    <li><a href="">5</a></li>
                    <li><a href="">...</a></li> -->
                    <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-12 analysis-100-padding">
            <table class="table table-striped table-design">
                <tr>
                    <!-- <th><input type="checkbox" />全選</th> -->
                    <th></th>
                    <th>標題</th>
                    <th></th>
                </tr>
                <tr>
                    <!-- <td><input type="checkbox" /></td> -->
                    <td>1</td>
                    <td>新興市場商訊第一期</td>
                    <td class="text-right">
                        <a href="/file/Phase-one.pdf">
                            全文下載<img src="/images/analysis/download-02.png" class="download-img">
                        </a>
                    </td>
                </tr>
                <tr>
                    <!-- <td><input type="checkbox" /></td> -->
                    <td>2</td>
                    <td>新興市場商訊第二期</td>
                    <td class="text-right">
                        <a href="/file/Phase-two.pdf">
                            全文下載<img src="/images/analysis/download-02.png" class="download-img">
                        </a>
                    </td>
                </tr>
                <tr>
                    <!-- <td><input type="checkbox" /></td> -->
                    <td>3</td>
                    <td>新興市場商訊第三期</td>
                    <td class="text-right">
                        <a href="/file/Phase-three.pdf">
                            全文下載<img src="/images/analysis/download-02.png" class="download-img">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-12 col-xs-12 text-center">
            <ul class="table-pagination-bottom">
                <li><a href=""><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a></li>
                <li><a href="">1</a></li>
                <!-- <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href="">4</a></li>
                <li><a href="">5</a></li>
                <li><a href="">...</a></li> -->
                <li><a href=""><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
            </ul>
        </div>
        <div class="col-md-offset-5 col-md-2 col-xs-offset-4 col-xs-4 text-center">
            <a href="" onclick="history.back()">
                <img class="table-pagination-img" src="/images/about/back.png">
            </a>
        </div>
    </div>
</div>
