<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/consultation/cover.png" class="img-responsive">
    </div>

    <div class="row no-margin consultation-body">
        <div class="visible-lg visible-md" id="triangle-gray" style="top: -2px;left: 75%;border-top: 38px solid #e4ebf5;"></div>
        <div class="col-md-12">
            <div class="col-md-offset-3 col-md-6 consultation-body-input">
                <div>
                    <h4>您的姓名*</h4>
                    <input type="text" class="form-control" placeholder="陳陳陳，Chen Yi" required /></input>
                </div>
                <div>
                    <h4>您的組織單位*</h4>
                    <input type="text" class="form-control" placeholder="故事館" required /></input>
                </div>
                <div>
                    <h4>您的Email*</h4>
                    <input type="text" class="form-control" placeholder="svchost@yahoo.com.tw" required /></input>
                </div>
                <div>
                    <h4>您想詢問什麼*</h4>
                    <textarea type="text" class="form-control" placeholder="非洲的狀況如何呀?" rows="7"></textarea>
                </div>
                <a href="">
                    <img src="/images/consultation/send.png" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div>
