<main>
    <div class="main-content">
        <!--桌布下載 start-->
        <div class="th-download">
            <header>
                <h2><i class="icon-download"></i>桌布下載</h2>
                <div>
                    <span class="active"><i class="icon-clock"></i>最新更新</span>
                    <span><i class="icon-heart"></i>最多覌看</span>
                </div>
            </header>
            <div class="gp-content">
                <ul class="md-list">
                    <!--download module start-->
                    <li class="pt-cont">
                        <figure>
                            <img src="images/1_900x675.jpg" alt="">
                            <figcaption>
                                <!--i tag 的 icon className 與 video及album的不一樣-->
                                <i class="icon-download"></i>1月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <!--download module end-->
                    <li class="pt-cont">
                        <figure>
                            <img src="images/2_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>2月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/3_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>3月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/4_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>4月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/5_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>5月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/6_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>6月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/7_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>7月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                                <button>觀看</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/8_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>8月比基尼宝贝写真 <span class="times"><i>1,2342</i>次点击</span>
                                <button>敬請期待</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/9_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>9月比基尼宝贝写真 <span class="times"><i>1,2342</i>次点击</span>
                                <button>敬請期待</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/10_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>10月比基尼宝贝写真 <span class="times"><i>1,2342</i>次点击</span>
                                <button>敬請期待</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/11_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>11月比基尼宝贝写真 <span class="times"><i>1,2342</i>次点击</span>
                                <button>敬請期待</button>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="pt-cont">
                        <figure>
                            <img src="images/12_900x675.jpg" alt="">
                            <figcaption>
                                <i class="icon-download"></i>12月比基尼宝贝写真 <span class="times"><i>1,2342</i>次点击</span>
                                <button>敬請期待</button>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
                <!--more button start-->
                <div class="md-moreBtn">
                    <a href="#">更多</a>
                </div>
                <!--more button end-->
            </div>
        </div>
        <!--桌布下載 end-->
        <!--桌布下載popup start-->
        <div class="th-maskbg">
            <div class="md-download-popup">
                <div class="pt-closebtn"></div>
                <div class="downloadCont">
                    <figure>
                        <img src="images/1_900x675.jpg" alt="">
                        <h2>壁纸下载 DOWNLOAD</h2>
                        <header>8月比基尼宝贝写真</header>
                        <figcaption>
                            <div class="pt-pc">
                                        <span class="ptCont">
                                            <i class="icon-pc"></i>
                                            <ul>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_1024x768.jpg" download>1024x768</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_1280x1024.jpg" download>1280x1024</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_1366x768.jpg" download>1366x768</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_1920x1080.jpg" download>1920x1080</a></li>
                                            </ul>
                                        </span>
                            </div>
                            <div class="pt-phone">
                                        <span class="ptCont">
                                            <i class="icon-phone"></i>
                                            <ul>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_640x960.jpg" download>640x960</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_640x1136.jpg" download>640x1136</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_720x1280.jpg" download>720x1280</a></li>
                                                <li><a href="http://www.sungirlbaby.com/wp-content/themes/sungirlbaby/common/calendar/desktop/images/dn/1_1080x1920.jpg" download>1080x1920</a></li>
                                            </ul>
                                        </span>
                            </div>
                        </figcaption>
                    </figure>
                    <ul class="othermonth">
                        <li>
                            <img src="images/1_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/2_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/3_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/4_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/5_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/6_900x675.jpg" alt="">
                        </li>
                        <li>
                            <img src="images/7_900x675.jpg" alt="">
                        </li>
                    </ul>
                </div>
                <ul class="pt-shareicon">
                    <li><a href="" target="_blank"><i class="icon-weibo"></i></a></li>
                    <li><a href="" target="_blank"><i class="icon-wechat"></i></a></li>
                    <li><a href="" target="_blank"><i class="icon-fb"></i></a></li>
                    <li><a href="" target="_blank"><i class="icon-twitter"></i></a></li>
                    <li><a href="" target="_blank"><i class="icon-camera"></i></a></li>
                </ul>
            </div>
        </div>
        <!--桌布下載popup end-->
    </div>
</main>