<main  class="index">
    <!--首頁滿版bar start-->
    <div id="dataBtn" class="fullbar">
        <span id="indexNew" class="active"><i class="icon-clock"></i>最近更新</span>
        <span id="indexMost"><i class="icon-heart"></i>最多覌看</span>
    </div>
    <!--首頁滿版bar end-->
    <div class="main-content">
        <!--右側欄 start-->
        <aside class="main-aside">
            <div class="th-asideInfo">
                <!--album module start-->

                <!--video modue end-->
            </div>
            <!--more button start-->
            <div class="md-moreBtn">
                <a id="indexMore" href="#">更多</a>
            </div>
            <!--more button end-->
        </aside>
        <!--右側欄 end-->
        <!--左側欄 start-->
        <aside class="main-sub">
            <div class="md-activity">
                <div class="pt-share">
                    <img src="images/title.png" alt="">
                    <ul class="btn-share">
                        <li><a href="http://www.weibo.com/5545795003/profile" target="_blank"><i class="icon-weibo"></i></a></li>
                        <li><a href="http://i.youku.com/i/UMjcwMzg3ODc2OA==/videos" title="youku"  target="_blank"><i class="icon-yk"></i></a></li>
                        <li><a href="https://www.facebook.com/sss988win/" target="_blank"><i class="icon-fb"></i></a></li>
                        <li><a href="https://twitter.com/sungameofficial" target="_blank"><i class="icon-twitter"></i></a></li>
                        <!--<li><a href="" target="_blank"><i class="icon-camera"></i></a></li>-->
                    </ul>
                </div>
                <figure>
                    <a href='http://www.sbet14.info/GDFishing' target="_blank">
                        <div class="pt-hover"></div>
                        <img src="images/banner_300x550.jpg" alt="">
                    </a>
                </figure>
            </div>
        </aside>
        <!--左側欄 end-->
        <!--popupCont start-->
        <div class="th-maskbg">
            <div class="gp-mdCont">
                <!--album popup start-->
                <!-- popalbum.html -->
                <!--album popup end-->
                <!-- video popup start -->
                <!-- popvideo.html -->
                <!-- video popuo end -->
            </div>
        </div>
        <!--popupCont end-->
    </div>

</main>