<main  class="index">
    <!--共用輪播模組  start-->
    <div class="th-sliderShow">
        <div class="md-slideShow">
            <ul class="pt-bannerList">
                <li><a href="javascript:;"><img src="images/4.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/1.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/2.jpg"></a></li>
                <li><a href="javascript:;"><img src="images/3.jpg"></a></li>
            </ul>
            <a class="pt-prev" href="javascript:;"><span class="icon-prevBtn"></span></a>
            <a class="pt-next" href="javascript:;"><span class="icon-nextBtn"></span></a>
        </div>
    </div>
    <!--共用輪播模組  end-->
    <!--首頁滿版bar start-->
    <div class="fullbar">
        <span class="active"><i class="icon-clock"></i>最新更新</span>
        <span><i class="icon-heart"></i>最多覌看</span>
    </div>
    <!--首頁滿版bar end-->
    <div class="main-content">
        <!--右側欄 start-->
        <aside class="main-aside">
            <!--album module start-->
            <div class="md-album">
                <div class="album-cont">
                    <time>
                        <span>2016</span>年
                        <span>6</span>月
                        <span>4</span>日
                    </time>
                    <figure>
                        <img src="images/index_album01.jpg" alt="">
                        <figcaption>
                            <i class="icon-photo"></i>七月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!--album module end-->
            <!--video modue start-->
            <div class="md-video">
                <div class="video-cont">
                    <time>
                        <span>2016</span>年
                        <span>6</span>月
                        <span>4</span>日
                    </time>
                    <figure>
                        <span class="btn"><img src="images/icons/videoBtn.png" alt=""></span>
                        <img src="images/index_video01.jpg" alt="">
                        <figcaption>
                            <i class="icon-video"></i>比基尼宝贝视频<span class="times"><i>1,2342</i>次点击</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!--video modue end-->
            <!--album module start-->
            <div class="md-album">
                <div class="album-cont">
                    <time>
                        <span>2016</span>年
                        <span>6</span>月
                        <span>4</span>日
                    </time>
                    <figure>
                        <img src="images/index_album01.jpg" alt="">
                        <figcaption>
                            <i class="icon-photo"></i>七月比基尼宝贝写真<span class="times"><i>1,2342</i>次点击</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!--album module end-->
            <!--video modue start-->
            <div class="md-video">
                <div class="video-cont">
                    <time>
                        <span>2016</span>年
                        <span>6</span>月
                        <span>4</span>日
                    </time>
                    <figure>
                        <span class="btn"><img src="images/icons/videoBtn.png" alt=""></span>
                        <img src="images/index_video01.jpg" alt="">
                        <figcaption>
                            <i class="icon-video"></i>比基尼宝贝视频<span class="times"><i>1,2342</i>次点击</span>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!--video modue end-->
            <!--more button start-->
            <div class="md-moreBtn">
                <a href="#">更多</a>
            </div>
            <!--more button end-->
        </aside>
        <!--右側欄 end-->
        <!--左側欄 start-->
        <aside class="main-sub">
            <div class="md-activity">
                <div class="pt-share">
                    <img src="images/title.png" alt="">
                    <ul class="btn-share">
                        <li><a href="" target="_blank"><i class="icon-weibo"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-wechat"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-fb"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-camera"></i></a></li>
                    </ul>
                </div>
                <figure>
                    <a href="" target="_blank">
                        <img src="images/4_b.jpg" alt="">
                    </a>
                </figure>
            </div>
        </aside>
        <!--左側欄 end-->
        <!--popupCont start-->
        <div class="th-maskbg">
            <!--album popup start-->
            <div class="md-album-popup">
                <div class="pt-closebtn"></div>
                <div class="albumCont">
                    <header>7月比基尼宝贝写真</header>
                    <div class="gp-ptCont">
                        <ul class="pt-bannerList">
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                        </ul>
                        <a class="pt-prev" href="javascript:;"><span class="icon-prevBtn"></span></a>
                        <a class="pt-next" href="javascript:;"><span class="icon-nextBtn"></span></a>
                    </div>
                    <div class="btnCont">
                        <ul class="pt-btnList">
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                            <li><img src="images/album_img01.jpg"></li>
                        </ul>
                    </div>
                    <ul class="pt-shareicon">
                        <li><a href="" target="_blank"><i class="icon-weibo"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-wechat"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-fb"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-camera"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--album popup end-->
            <!-- video popup start -->
            <div class="md-video-popup">
                <div class="pt-closebtn"></div>
                <div class="videoCont">
                    <header>比基尼宝贝视频特辑</header>
                    <div class="pt-videoCont">
                        <iframe src="https://www.youtube.com/embed/d0fvb7SZ_9w" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <ul class="pt-shareicon">
                        <li><a href="" target="_blank"><i class="icon-weibo"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-wechat"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-fb"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-twitter"></i></a></li>
                        <li><a href="" target="_blank"><i class="icon-camera"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- video popuo end -->
        </div>
        <!--popupCont end-->
    </div>
</main>