<main class="page-info">
    <div class="main-content">
        <div class="th-textlink">
            <ul>
                <li><a href="http://www.sss988.com/Home/AboutUs" target="_blank">关于sun game</a></li>
                <li><a href="http://www.sss988.com/#/register" target="_blank">免费注册</a></li>
                <li><a href="" target="_blank">优惠活动</a></li>
                <li><a href="http://www.sss988.com/Home/Qna" target="_blank">常见问题</a></li>
                <li><a href="http://www.sss988.com/Home/Contact" target="_blank">联系我们</a></li>
                <li><a href="http://aff.sbet06.co/home/logon" target="_blank">合作伙伴</a></li>
            </ul>
        </div>
    </div>
</main>