<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/standardCase/cover-03.png" class="img-responsive">
    </div>

    <div class="row no-margin">
        <div class="col-md-6 col-xs-12 no-padding">
        	<img src="/images/standardCase/area-search.png" class="area-img">
        </div>
        <div class="col-md-6 col-xs-12 service-section standard-search">
        	<div class="col-md-offset-4 col-md-7">
        		<div class="col-xs-12 standard-vertical-padding"></div>
	            <!-- <input id="search-database" type="text" size="40" placeholder="搜索資料庫" />          -->
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">請選擇區域
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" ng-repeat="item in items">
                            <a role="menuitem" tabindex="-1" href="#/standard/case/page/{{item.value}}">{{item.name}}</a>
                        </li>
                    </ul>
                </div>
	        </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/standardCase/map-background-03.png" class="img-responsive">
    </div>

    <div class="row no-margin">
        <div class="col-md-12 country-img">
            <img src="/images/standardCase/word.png" class="img-responsive" ng-show="presetCountry">
            <img src="/images/standardCase/{{getCountry}}" class="img-responsive" ng-hide="presetCountry" ng-style="countryStyle">
        </div>
    </div>

    <div class="row no-margin">
        <div class="col-md-12 standard-bottom-position">
            <ul class="standard-bottom no-padding">
                <li ng-repeat="item in items">
                    <a href="" ng-click="changeCountry(item)"><img src="/images/standardCase/{{item.img}}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
