<main>
    <div class="main-content">
        <!--美女視頻 start-->
        <div class="th-video">
            <header>
                <h2><i class="icon-video"></i>美女視頻</h2>
                <div id="dataBtn" class="videoSort">
                    <span id="videoNew" class="active"><i class="icon-clock"></i>最新更新</span>
                    <span id="videoMost"><i class="icon-heart"></i>最多覌看</span>
                </div>
            </header>
            <div class="gp-content">
                <ul class="md-list">
                    <!--video module start-->
                    <!--video module end-->
                </ul>
                <!--more button start-->
                <div class="md-moreBtn">
                    <a id="videoMore" href="#">更多</a>
                </div>
                <!--more button end-->
            </div>
        </div>
        <!--美女視頻 end-->
        <!--美女視頻popup start-->
        <div class="th-maskbg">
            <div class="gp-mdCont">
                <!--load popdvideo.html json組畫面 -->
            </div>
        </div>
        <!--美女視頻popup end-->
    </div>
</main>