<div class="body-container">

    <div class="jumbotron jumbotron-customer no-padding no-margin">
        <img src="/images/workProject/topimg.png" class="img-responsive">
    </div>

    <div class="row no-margin service-section-second ">
        <div class="col-xs-12 vertical-padding-lg"></div>

        <div class="col-md-offset-3 col-md-6 work-project-detail">
            <h4>籌設協會組織連結時代基金會、亞太文化創意產業協會、作為主要工作夥伴，由此組織成新興市場研究協會理監事會與相關工作群。組織上與工作上，目的在於透過經濟、文化、政治、社會、安全等軟實力面向，共同向外推出台灣的優勢力量，影響新興市場的未來發展方向，並建構台灣與新興市場的深度關係。</h4>
            <h2>預計在未來逐步推動下列重要工作項目：</h2>
        </div>

        <div class="col-xs-12 vertical-padding-lg"></div>
        <div class="visible-lg visible-md" id="triangle-blue" style="top: 368px;left: 48%;"></div>
    </div>

    <div class="row no-margin service-section">
        <div class="col-md-4 no-padding">
            <div class="col-xs-12 vertical-padding-lg" style="padding-top: 280px;"></div>
            <img src="/images/workProject/workproject.png" class="img-responsive no-margin title-service-second">
        </div>
        <div class="col-md-8 col-xs-12 col-sm-12 item-list">
            <div class="col-xs-12 vertical-padding-lg">
                <div class="col-xs-12 col-md-12 vertical-padding-lg work-project-items" ng-repeat="item in items">
                    <div class="col-md-offset-1 col-md-2 col-xs-3">
                        <img src="/images/workProject/{{item.img}}" class="img-responsive">
                    </div>
                    <div class="col-md-9 col-xs-9">
                        <h2>{{item.text}}</h2>
                        <h4>{{item.detail}}</h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <a href="" onclick="history.back()">
                    <img class="col-md-offset-3 col-md-6 col-xs-offset-4" id="back-bottom-img" src="/images/about/back.png">
                </a>
            </div>
        </div>
    </div>
</div>